# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
*.log

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# IDEs & Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS
Thumbs.db
db.db
.DS_Store

# Local parameters & sensitive inventory files
backend/inventory/hosts.yaml
backend/inventory/secrets.yaml
reports/
output/
